# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# PyInstaller
build/
dist/
*.spec
!chat.spec

# Nuitka
*.build/
*.dist/
*.onefile-build/
*.exe
run_app.bin
run_app.cmd